# Logs (Cubre request.log, error.log y logs de npm)
*.log
npm-debug.log*

# Dependencias
node_modules/

# Variables de entorno (¡Muy importante para cuando uses .env!)
.env

# Directorio de cache npm opcional
.npm

# Archivos de sistema y carpetas de ajustes IDE
.DS_Store
.idea
.vscode